.login-pf body {
    background-image: url('../img/login_background.jpg');
    background-size: cover;
}

.myClass {
    background-image: url('../img/login_logo.png');
    background-size: cover;
    width: 145px;
    height: 85px;
    margin: auto;
}

.rocket {
    background-image: url('../img/login_art.jpg');
    background-size: cover;
    width: 100px;
    height: 100px;
}

